################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/FinanceManager.API/bin
/src/FinanceManager.API/obj
/src/FinanceManager.Application/bin
/src/FinanceManager.Application/obj
/src/FinanceManager.CrossCutting/bin
/src/FinanceManager.CrossCutting/obj
/src/FinanceManager.Domain/bin
/src/FinanceManager.Domain/obj
/src/FinanceManager.Infrastructure/bin
/src/FinanceManager.Infrastructure/Migrations
/src/FinanceManager.Infrastructure/obj
/src/FinanceManager.Infrastructure/financeiro.db
/src/FinanceManager.Infrastructure/Financeiro.db-shm
/src/FinanceManager.Infrastructure/Financeiro.db-wal
/tests/FinanceManager.Application.Tests/bin
/tests/FinanceManager.Application.Tests/obj
/tests/FinanceManager.Domain.Tests/bin
/tests/FinanceManager.Domain.Tests/obj
/tests/FinanceManager.Infrastructure.Tests/bin
/tests/FinanceManager.Infrastructure.Tests/obj
